.visor{
    background-color: var(--bkg-screen);
    border-radius: var(--radius);
    margin: var(--sp-sm) 0;
    padding: var(--sp-rg);
    text-align: end;
    height: 32px;
}

.keys{
    background-color: var(--bkg-screen);
    border-radius: var(--radius);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    gap: var(--sp-sm);
    align-items: center;
    justify-content: space-around;
    padding: var(--sp-sm);
    height: 400px;
}

.container--bottom{
    grid-column: span 4;
    display: grid;
    gap: var(--sp-sm);
    grid-template-columns: repeat(2, 1fr);
}
