.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header h2{
    font-size: var(--size-xs);
    margin-right: var(--sp-xs);
}

.header__container--theme{
    display: flex;
    align-items:end;
}

.header__container--theme span{
    font-size: var(--size-xs);
}

